@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
:root {
    --black--color: #3a3636;
    --green--color: #5CA720; 
    --gray--color: #A8A4A4;
    --body--color: #E5E5E5;
    --footer--color: #F9F9F9;
    --border--color: #A5A1A1;
    --nav-height: 9.4rem;
    font-size: 62.5%; /* 1rem = 10px */
}
header {
    height: var(--nav-height);
    display: flex;
}
.header {
    display: flex;
    align-items: center;
    flex: 1;
    border-bottom: 0.1rem solid var(--border--color);
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu ul,
.menu li {
    list-style: none;
    margin-left: 3.7rem;;
}
.menu ul {
    display: flex;
    margin-right: 7rem;
}
.logo a{
    text-decoration: none;
    margin-left: 7rem;
}
.banner img {
    width: 100%;
    max-height: 37.5rem;
}

.home--infor {
    font-size: 'Lato', sans-serif;
    border-bottom: 0.1rem solid var(--border--color);
}
.infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.3rem 7rem 3.3rem 7rem;
    
}
p {
    font-size: 2rem;
    font-weight: 700;
}

.home--products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-bottom: 0.1rem solid var(--border--color);
}
.list--products {
    margin: 7rem;
    font-weight: 700;
    cursor: pointer;
}
.products p, span {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
}
span {
    color: var(--green--color);
}
#img {
    width: 30.3rem;
    height: 30.3rem;
    object-fit: cover;
    margin-bottom: 2.3rem;
}


footer {
    background-color: var(--footer--color);
}
.footer--section--up {
    border-bottom: 0.1rem solid var(--border--color);
}

.footer--section {
    margin: 7rem;
    display: flex;
}
.footer--section--infor {
    flex: 1;
}
.footer--newsletter {
    flex: 1;
}
.footer--section--infor p {
    margin-bottom: 1rem;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 1.8rem;
    font-weight: 700;
    font-size: 2rem;
}
input {
    width: calc(100% - 15.2rem);
    height: 5.4rem;
    padding: 1.5rem;
    background: #FFFFFF;
    border: 0.5px solid #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}
input::placeholder {
    font-size: 2rem;
    color: var(--gray--color);
}
button {
    position: absolute;
    width: 15.2rem;
    height: 5.4rem;
    border: none;
    color: #FFF;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--green--color);
    cursor: pointer;
}

.footer--section--down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem;
}

.footer--section--down--right {
    display: flex;
    align-items: center;
}
.footer--section--down--left a {
    margin-right: 2rem;
}
.footer--section--down--right img  {
    margin-right: 2rem;
}


@media (max-width: 768px) {
   #img {
    width: 22rem;
    height: 22rem;
   } 
   .footer--section {
    flex-direction: column;
   }
   .footer--section--infor {
    margin-bottom: 5.4rem;
   }
   input {
    width: 100%;
    border-radius: 0.3rem;
   }
   button {
    position: relative;
    width: 100%;
    margin-top: 1.7rem;
    border-radius: 0.3rem;
   }
}

@media (max-width: 425px) {
    .logo a {
        margin-left: 2rem;
    }
    .menu ul {
        margin: 2rem;
    }
    .infor,
    .list--products,
    .footer--section,
    .footer--section--down {
        margin: 3.3rem 2rem;
    }
    #img {
        width: 12.6rem;
        height: 12.6rem;
    }
    .products p, span {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
    .footer--section--infor p,
    label,
    input::placeholder {
        font-size: 1.4rem;
    }
    .footer--newsletter {
        margin-bottom: 4.2rem;
    }
    .footer--section--down--left img {
        width: 2.3rem;
    }
    .footer--section--down--left a {
        margin-right: 1rem;
    }
    .footer--section--down--right img {
        margin-right: 1rem;
        width: 2.9rem;
        height: 2.3rem;
    }
}